{"filter":false,"title":"specs.tmpl","tooltip":"/test/specs.tmpl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":463.5,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":27,"state":"start","mode":"ace/mode/text"}},"timestamp":1421175591080,"hash":"a6f12c884b12c3d20717315b9615b2c68c9de272"}